@model Alpha.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Name)
</h2>
<div class="row">
    <div class="col-xs-12">
        <strong>
            <span><a asp-action="Index">&larr;&nbsp;Back to rooms</a>&nbsp;</span> |
            <span class="icon"><a asp-action="Edit" asp-route-id="@Model.Id">&nbsp;&#10003;&nbsp;Edit</a></span> |
            <span class="icon"><a asp-action="Remove" asp-route-id="@Model.Id">&nbsp;x&nbsp;Remove</a></span>
        </strong>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <span class="icon">&#9675;</span><strong>@Html.DisplayFor(model => model.Seats)</strong> seats
        @if (Model.Projector || Model.Board)
        {
            <br />
            <br />
            @if (Model.Projector)
            {
                <span class="icon">&#9899;</span>@Html.DisplayNameFor(model => model.Projector) <br />
            }
            @if (Model.Projector && Model.Board)
            {
                <br />
            }
            @if (Model.Board)
            {
                <span class="icon">&#10002;</span>@Html.DisplayNameFor(model => model.Board)
            }
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <strong>@Html.DisplayNameFor(model => model.Descrtiption)</strong>
        <br /><br />
        @Html.DisplayFor(model => model.Descrtiption)
    </div>
</div>
@if (Model.Reservations.Count > 0)
{
    <br />
    <strong>@Html.DisplayNameFor(model => model.Reservations)</strong>
    <br />
    <div class="row">
        <div class="col-xs-4">
            <a href="#"><strong>Date / Time&nbsp;&uarr;</strong></a>
        </div>
        <div class="col-xs-8">
            <a href="#"><strong>Owner</strong></a>
</div>
    </div>
}

@foreach (var item in Model.Reservations.OrderBy(r => r.Start))
{
    <a asp-area="" asp-controller="Reservations" asp-action="Edit" asp-route-id="@item.Id">
        <div class="row">
            <div class="col-xs-4">
                @item.Start.DayOfWeek, @item.Start.ToShortDateString(),
                <nowrap>@item.Start.ToShortTimeString()&#150;@item.End.ToShortTimeString()</nowrap>
            </div>
            <div class="col-xs-8">
                @item.User.Name
            </div>
        </div>
    </a>
}
<div class="row">
    <a asp-area="" asp-controller="Reservations" asp-action="Create" asp-route-id="@Model.Id">
        <div class="col-xs-3">
            <nowrap><strong>+ Add new reservation</strong></nowrap>
        </div>
    </a>
</div>
