@model Alpha.Models.Room

@{
    ViewData["Title"] = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Name)
    [&nbsp;<a asp-action="Edit" asp-route-id="@Model.Id">&#10003;&nbsp;Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">x Delete</a>&nbsp;]
</h2>
<hr />
<a asp-action="Index">
    <div class="row">
        <div class="col-xs-12">
            <nowrap><strong><a asp-action="Index">&larr; Back to rooms</a></strong></nowrap>
        </div>
    </div>
</a>
<hr />

<div class="row">
    <div class="col-xs-12">
        Seats: <strong>@Html.DisplayFor(model => model.Seats)</strong>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @if (Model.Projector)
        {
            <span>&#9899;</span> @Html.DisplayNameFor(model => model.Projector) <br />
        }
        @if (Model.Projector && Model.Board)
        {
            <br />
        }
        @if (Model.Board)
        {
            <span>&#10002;</span> @Html.DisplayNameFor(model => model.Board)
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr />
        <strong>@Html.DisplayNameFor(model => model.Descrtiption)</strong><br /><br />
        @Html.DisplayFor(model => model.Descrtiption)

        @if (Model.Reservations.Count > 0)
        {
            <hr />
            <strong>@Html.DisplayNameFor(model => model.Reservations)</strong>
            <br /><br />
        }
    </div>
</div>
@foreach (var item in Model.Reservations.OrderBy(r => r.Start))
{
    <a asp-area="" asp-controller="Reservations" asp-action="Details" asp-route-id="@item.Id">
        <div class="row">
            <div class="col-xs-2">
                @item.Start.DayOfWeek
            </div>
            <div class="col-xs-2">
                @item.Start.ToShortDateString()
            </div>
            <div class="col-xs-2">
                <nowrap>@item.Start.ToShortTimeString()&#150;@item.End.ToShortTimeString()</nowrap>
            </div>
            <div class="col-xs-6">
                @item.User.Name
            </div>
        </div>
    </a>
}
    <div class="row">
        <a asp-area="" asp-controller="Reservations" asp-action="Create">
            <div class="col-xs-3">
                <br />
                <nowrap><strong>+ Add reservation</strong></nowrap>
            </div>
        </a>
    </div>
