@model Alpha.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<h2>
    <a asp-action="Details" asp-route-id="@Model.Id">@Html.DisplayFor(model => model.Name)</a>
</h2>
    <div class="row">
        <div class="col-xs-12">
            <strong>
                <span><a asp-action="Index">&larr;&nbsp;Back to rooms</a>&nbsp;</span> |
                <span class="icon">&nbsp;&#10003;&nbsp;Edit</span> |
                <span class="icon"><a asp-action="Remove" asp-route-id="@Model.Id">&nbsp;x&nbsp;Remove</a></span>
            </strong>
        </div>
    </div>

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Projector" /> @Html.DisplayNameFor(model => model.Projector)
                    </label>
                    <br /><br />
                    <label>
                        <input asp-for="Board" /> @Html.DisplayNameFor(model => model.Board)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Descrtiption" class="control-label"></label><br /><br />
                <textarea asp-for="Descrtiption" class="form-control"></textarea>
                <span asp-validation-for="Descrtiption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
