@{
    bool auth = User.Identity.IsAuthenticated;
    bool isManager = auth && User.IsInRole("Manager");
}

@model IEnumerable<Alpha.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

<h2>Rooms</h2>

<a class=@(isManager ? "" : "disabled") asp-action="Add">
    <div class="row header">
        <div class="col-xs-12">
            + Add new room
        </div>
    </div>
</a>

@foreach (var item in Model)
{
    <a asp-action="Details" asp-route-id="@item.Id">
        <div class="row rooms">
            <div class="col-xs-3">
                <span class="Room">@Html.DisplayFor(modelItem => item.Name)</span>
            </div>
            <div class="col-xs-3">
                <span class="icon">&#9675;</span><strong>@Html.DisplayFor(modelItem => item.Seats)</strong> seats
                @if (item.Projector)
                {
                    <br />
                    <span class="icon">&#9899;</span>@Html.DisplayNameFor(modelItem => item.Projector)
                }
                @if (item.Board)
                {
                    <br />
                    <span class="icon">&#10002;</span>@Html.DisplayNameFor(modelItem => item.Board)
                }
            </div>
            @if (item.Reservations.Where(s => s.Status == Status.Approved).ToList().Count > 0)
            {
                <div class="col-xs-3">
                    <span class="icon">&#8734;</span>@item.Reservations.Min(s => s.Start)
                </div>
            }
        </div>
    </a>
}

