@{
    bool auth = User.Identity.IsAuthenticated;
    bool isManager = auth && User.IsInRole("Manager");
}

@model IEnumerable<Alpha.Models.Reservation>

@if (Model.ToList().Count() > 0)
{
    <div class="row header">
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.Room)
        </div>
        <div class="col-xs-2 text-right">
            @Html.DisplayNameFor(model => model.Start)&nbsp;&uarr;
        </div>
        <div class="col-xs-2">
            @Html.DisplayNameFor(model => model.End)
        </div>
        <div class="col-xs-3">
            @Html.DisplayNameFor(model => model.User)
        </div>
        <div class="col-xs-2 text-center">
            <div id="status"></div>
        </div>
    </div>
    @foreach (var item in Model.OrderBy(s => s.Start))
    {
        bool isIdle = item.Status == Status.Idle;

    <div class="row rooms">
        <div class="col-xs-2">
            <a asp-controller="Rooms" asp-action="Details" asp-route-id="">
                @Html.DisplayFor(modelItem => item.Room.Name)
            </a>
        </div>
        <a class=@(isManager ? "" : "disabled") asp-action="Edit" asp-route-id="@item.Id">
            <div class="col-xs-2 text-right">
                @item.Start.ToShortDateString()<br />
                @item.Start.ToShortTimeString()
            </div>
            <div class="col-xs-2">
                @item.End.ToShortDateString()<br />
                @item.End.ToShortTimeString()
            </div>
        </a>
        <div class="col-xs-3">
            @Html.DisplayFor(modelItem => item.User.Name)
        </div>
        <div class="col-xs-2 text-center">
            @if (isIdle)
            {
                <div class="form-group">
                    <input type="submit" onclick="Aproove(@item.Id, 0)" value="&#10003;&nbsp;Approve" class="btn btn-success" />
                </div>
            }
        </div>
    </div>
    }
}

<script type="text/javascript">

    function Aproove(id) {
        let url = "../Reservations/Aproove/" + id;
        $("#status").text("Updating...");

        $.ajax({
            type: "GET",
            url: url,
            dataType: "text",
            success: function (data) {
                if (data != null) {
                    GetReservations();
                    setInterval(GetReservations, 5000);
                    $("#status").text("Approved");
                } else {
                    $("#status").text("Something went wrong");
                }
            },
            failure: function (response) {
                $("#status").text("Failure");
            },
            error: function (response) {
                $("#status").text("Error");
            }
        });
    }

</script>