@{
    bool auth = User.Identity.IsAuthenticated;
    bool IsManager = auth && User.IsInRole("Manager");
}
@model Alpha.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit reservation</h2>

<div class="row">
    <div class="col-xs-12 header">
        <a asp-action="Index">&larr;&nbsp;Back to reservations</a>
        &nbsp;|&nbsp;
        &nbsp;&#10003;&nbsp;Edit
        &nbsp;|&nbsp;
        <a asp-action="Remove" asp-route-id="@Model.Id">&nbsp;x&nbsp;Remove</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control" asp-items="ViewBag.Status"></select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <label asp-for="RoomId" class="control-label"></label>
                (
                <a asp-controller="Rooms" asp-action="Details" asp-route-id="@Model.Room.Id">
                    @Model.Room.Name
                </a>)
                <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId"></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                (
                <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.User.Id">
                    @Model.User.Name
                </a>)
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
