@model Alpha.Models.Reservation

@{
    ViewData["Title"] = "Remove";
}

<h2>Remove reservation</h2>

<div class="row">
    <div class="col-xs-12">
        <strong>
            <span><a asp-action="Index">&larr;&nbsp;Back to reservations</a>&nbsp;</span> |
            <span class="icon"><a asp-action="Edit" asp-route-id="@Model.Id">&nbsp;&#10003;&nbsp;Edit</a></span> |
            <span class="icon">&nbsp;x&nbsp;Remove</span>
        </strong>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Are you sure you want to delete reservation for @Model.Room.Name?</h4>
        @Html.DisplayNameFor(model => model.Start) at @Html.DisplayFor(model => model.Start), 
        by <a asp-controller="Users" asp-action="Edit" asp-route-id="@Model.User.Id">@Html.DisplayFor(model => model.User.Name)</a>.
        <br />
        <br />
        <form asp-action="Remove">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Remove reservation" class="btn btn-danger" />
        </form>
    </div>
</div>
